<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <title>PDF</title>

  <style>
    .section-cover {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #1d1c21;
      color: #dfdfdf;
    }

    .section-cover * {
      color: #dfdfdf;
    }

    .section-cover hr {
      max-width: 500px;
      margin: 50px auto;
      background: #2e333e;
    }

    .section-cover .title {
      margin: 15px 0 30px;
    }

    .table {
      width: 100%;
    }

    .page-break  {
      display:block;
      page-break-before:always;
    }

    .section-content {
      page-break-inside: avoid;
    }

    .section-content + hr {
      margin: 0 auto;
      max-width: 500px;
    }

    .content br {
      display: none;
    }
  </style>
</head>

<body>
  <div class="section section-cover">
    <div class="container">
      <img src={{senderLogo}} alt="" width="200" /> <br />
      <p class="title is-1">
        {{senderCompany}}
      </p>
      <p class="subtitle is-5">{{senderSlogan}}</p>

      <hr />

      <h1 class="title">
        Proposal to {{clientCompany}} ({{clientName}})
      </h1>
      <h2 class="subtitle">
        {{proposalShortDescription}}
      </h2>
      <p>Proposal Number: {{proposalNumber}}</p>
      <p>{{proposalDate}} - {{senderLocation}}</p>
    </div>
  </div>

  <div class="page-break"></div>

  <div class="section section-content">
    <div class="container">
      <div class="content">
        <p style="margin-bottom: 30px">Proposal Number: {{proposalNumber}} - {{proposalDate}} - {{senderLocation}}</p>
        {{{proposalIntroduction}}}
      </div>
    </div>
  </div>

  <hr />

  <div class="section section-content">
    <div class="container">
      <h2 class="title is-4 has-text-primary">Scope</h2>
      <div class="content">{{{projectScope}}}</div>
    </div>
  </div>

  <hr />

  <div class="section section-content">
    <div class="container">
        <h2 class="title is-4 has-text-primary">Services</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Service/Product</th>
              <th>Quantity</th>
              <th>Unity Price</th>
            </tr>
          </thead>
          <tbody>
            {{#each servicesList as |service|}}
              <tr>
                <td>{{{service.service}}}</td>
                <td>{{{service.quantity}}}</td>
                <td>{{{service.price}}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
  </div>

  <hr />

  <div class="section section-content">
    <div class="container">
      <h2 class="title is-4 has-text-primary">Aditional Information</h2>
      <div class="content">{{{aditionalInformation}}}</div>
    </div>
  </div>

  <hr />

  <div class="section section-content">
    <div class="container">
      <div class="section-signature">
        <img src={{senderSignature}} alt="" width="100" /> <br />
        <p class="title is-5">{{senderName}}</p>
        <p class="subtitle is-6">
          {{senderSite}}<br />
          {{senderEmail}}<br />
          {{senderTel}}<br />
        </p>
      </div>
    </div>
  </div>
</body>
</html>
