<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <title>PDF</title>

  <style>
    .body-container {
      padding: 0 30px;
    }
    .table {
      width: 100%;
    }
  </style>
</head>
<body>
  <section class="hero is-dark is-bold">
    <div class="hero-body has-text-centered">
      <div class="container">
        <img src={{image}} alt="" width="200" /> <br />
        <p class="title is-2">
          {{sender}}
        </p>
        <p>{{slogan}}</p>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Proposal to  {{clientName}}
        </h1>
        <h2 class="subtitle">
          {{shortDescription}}
        </h2>
        <p><strong>Date:</strong> {{proposalDate}} / <strong>Proposal Number:</strong> {{proposalNumber}}</p>
      </div>
    </div>
  </section>

  <hr />

  <div class="container body-container">
    <h2 class="title is-4">Scope</h2>
    <div>{{{fullDescription}}}</div>

    <hr />

    <h2 class="title is-4">Services</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Service/Product</th>
          <th>Quantity</th>
          <th>Unity Price</th>
        </tr>
      </thead>
      <tbody>
        {{#each servicesList as |service|}}
          <tr>
            <td>{{{service.service}}}</td>
            <td>{{{service.quantity}}}</td>
            <td>{{{service.price}}}</td>
          </tr>
        {{/each}}
      </tbody>
    </div>
  </div>
</body>
</html>
